<form #formData="ngForm" (ngSubmit)="submitForm(formData.value)" class="cool-form">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="user.name" #name="ngModel" required
      minlength="2">
    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
      <div *ngIf="name.errors?.['required']">Name is required.</div>
      <div *ngIf="name.errors?.['minlength']">Name must be at least 2 characters long.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="age">Age:</label>
    <input type="number" class="form-control" id="age" name="age" [(ngModel)]="user.age" #age="ngModel" required
      min="1">
    <div *ngIf="age.invalid && (age.dirty || age.touched)" class="text-danger">
      <div *ngIf="age.errors?.['required']">Age is required.</div>
      <div *ngIf="age.errors?.['min']">Age must be greater than 0.</div>
    </div>
  </div>

  <div class="form-group">
    <label>Gender:</label><br>
    <label><input type="radio" name="gender" value="male" [(ngModel)]="user.gender" required> Male</label><br>
    <label><input type="radio" name="gender" value="female" [(ngModel)]="user.gender" required> Female</label><br>
    <label><input type="radio" name="gender" value="other" [(ngModel)]="user.gender" required> Other</label>
    <div
      *ngIf="formData.controls['gender']?.invalid && (formData.controls['gender']?.dirty || formData.controls['gender']?.touched)"
      class="text-danger">
      <div *ngIf="formData.controls['gender']?.errors?.['required']">Gender is required.</div>
    </div>
  </div>

  <div class="form-group">
    <label>Hobby:</label><br>
    <label><input type="checkbox" name="{{checkBoxOptions[0].value}}" value="cooking"
        [(ngModel)]="checkBoxOptions[0].option" (change)="onCheckboxChange($event)"> Cooking</label><br>
    <label><input type="checkbox" name="{{checkBoxOptions[1].value}}" value="reading"
        [(ngModel)]="checkBoxOptions[1].option" (change)="onCheckboxChange($event)"> Reading</label><br>
    <label><input type="checkbox" name="{{checkBoxOptions[2].value}}" value="music"
        [(ngModel)]="checkBoxOptions[2].option" (change)="onCheckboxChange($event)"> Music</label>
  </div>

  <button type="button" (click)="addDropdown()"
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
    {{ updateFlag ? 'Update' : 'Add' }}
  </button>
  <app-pop-up *ngIf="showChild" (select)="handleDropdownChange($event)" (close)="onClose()"></app-pop-up>

  <div *ngIf="showPopup">
    <div class="popup">
      <p>Selected State: {{ user.statename }}</p>
      <p>Selected District: {{ user.districtname }}</p>
      <p>Selected City: {{ user.cityname }}</p>
      <p>Selected Pincode: {{ user.pincode }}</p>
    </div>
  </div>

  <div>
    <button type="submit" class="btn btn-primary-two">Save</button>
  </div>
</form>